<div class="container">
<h1>Редактирование данных о службе такси</h1>

<%= render 'form' %>

<%= link_to 'Изменить email или пароль', edit_taxi_registration_path %>
<%= link_to 'Назад', @taxi %>
</div>
