<div class="container">
<h2 class='blue'>Редактирование данных о службе такси</h2>

<%= render 'form' %>

<%= link_to 'Изменить email или пароль', edit_taxi_registration_path %>
<%= link_to 'Назад', @taxi %>
</div>
