<h1>New order</h1>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>

<hr>

<h4>
It will help you

</h4>
<span>http://maps.googleapis.com/maps/api/directions/json?origin=Chicago,IL&destination=Los+Angeles,CA&waypoints=Joplin,MO|Oklahoma+City,OK&sensor=false</span>
<p>https://developers.google.com/maps/documentation/directions/?hl=ru</p>
<p>RailsCast </p>
<p>
http://railscasts.com/episodes/273-geocoder</p>