<% if @order.calculated? %>
  <h2 class="page-heading">
    Ваш маршрут: <span style='color: #b84762; font-weight: 100;'><%= @order.human_distance %></span> км
  </h2>
<% end %>

<% if @order.created? %>
  <h2 class="page-heading">Ваш заказ принят!</h2>
  <div class="well">
    <h4>Благодарим Вас за заказ!</h4>
    <p>Ожидайте звонка оператора. Если вам не перезвонят в течение 15 минут &ndash; попробуйте повторить заказ.</p>
  </div>
<% end %>

<% if @order.calculated? %>
  <%= render 'calculated_order' %>
<% end %>
<% if @order.created?  %>
  <%= render 'created_order' %>
<% end %>
