<div class="well">
  <h3>Ваш маршрут: <span class="blue" id='current_order_distance'></span></h3>
  <% from, *through, to = places %>
  <table class="table ">
    <tr>
      <td><strong>Откуда</strong></td>
      <%= render "places/route_point", point: from %>
    </tr>
    <% if through.any? %>
      <% through.each do |place| %>
        <tr>
          <td><strong>Через</strong></td>
          <%= render "places/route_point", point: place %>
        </tr>
      <% end %>
    <% end %>
    <%if to.present? %>
      <tr>
        <td><strong>Куда</strong></td>
          <%= render "places/route_point", point: to %>
      </tr>
    <% end %>
  </table>
</div>


